{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>login webpaeg</title>
    <link rel="stylesheet" href="{% static '/css/login.css' %}" type="text/css">
</head>

<body>
    <header>
        <div class="login-box">
            <h1>Student Login</h1>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="text-box">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" name="username">
                </div>
                <div class="text-box">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" name="password">
                </div>
                <div>
                    <input class="button" type="submit" value="Login">
                </div>
            </form>
        </div>
    </header>
</body>

</html>