{% extends "regis/layout.html" %} 

{% block body %}
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 {
  width: 100%;    
  background-color: #f1f1c1;
}
</style>

<div class="container">
      <center><h1>Hello {{student_info.sName}}</h1></center>
      <center><h3>This is your enrolled course</h3></center>
      <ul>
        {% for classes in class_info %}
          <li> {{classes}} </li>
              <form action = "{% url 'withdraw'%}" method="POST">
                  {% csrf_token %}
                  <button name="Remove" type="submit" value="{{classes.cID}}"> Withdraw </button>
              </form>
        {% empty %}
          <li>No class enrolled </li>
        {% endfor %}
      
      </ul>

      <h2>Class avaiable for enroll.</h2>
      
      
      
      
      <ul>
        {%for classes1 in non_classinfo %}
          {%if classes1.seatCheck == True %}
              <li>
                  {{classes1}} <form action = "{% url 'enroll'%}" method="POST">{% csrf_token %}<button name="Add" type="submit" value="{{classes1.cID}}"> Enroll </button></form>

                    
                  
              </li>
            {% endif %}
        {% empty %}
          <li> No course to enroll. </li>
        {% endfor %}
      
      
      </ul>

</div>


<a href ="{% url 'classcourse' %}"> <button>Check Course</button> </a><br><br>

<a href ="{% url 'logout' %}"> <button>Logout </button></a><br>

{% endblock %}